@media screen and (max-width:1400px){
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    
}



@media screen and (max-width: 1285px) {
    #big-nav{
        display: none;
        /* background-color: blue; */
    }
    #small-nav {
        display: flex;
        z-index: 100;
        /* background-color: teal; */
    }
    #profile {
        z-index: 1;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        /* background-color: green; */
    }
    .about-containers {
        display: block;
        padding: 1rem;
    }
    .details-container {
        margin-bottom: 1rem;
    }
    .about-pic {
        width: 275px;
        /* border: 2px solid red; */
    }
    
    #profile,.section-container {
        display: block;
        /* background-color: green; */
    }
    #profile {
        width: 300px;
    }
    
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
        /* background-color: red; */
        /* width: 400px; */
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 325px;
    }
    .project-text-cover {
        font-size: 0.8rem;
    }
    .profile-img {
        /* border: 2px solid red; */
        height: 310px;
        width:250px ;
    }
}
@media screen and (max-width: 600px) {
#contact, footer {
    height: 40vh;
    /* background-color: red; */
    margin-bottom: 0;
    /* width: fit-content; */

}

.small-nav-links {
    z-index: 500;
}
.section__title-2 span {
    /* margin-left: 10px; */
}


#small-nav li{
    display: flex;
    z-index: 100;
    background-color: #edf6f9
}
.section__pic-container {
    z-index: 0;
    /* border: 2px solid red; */
}


article {
    font-size: 1rem;

}
.footer nav {
    height: fit-content;
    margin-bottom: 2rem;
}
.about-containers, .contact-info-upper-container, btn-container {
    flex-wrap: wrap;
}
.contact-info-container {
    margin: 0;
}
.contact-info-container p, .nav-links li a {
    font-size: 1rem;
}
.expereince-sub-title {
    font-size: 1.25rem;
}
.logo {
    font-size: smaller;
}
.nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}
.section__pic.container {
    width: auto;
    height: 46vh;
    justify-content: center;
    margin: auto;
}
.section__text__pe {
    font-size: 1.2rem;
}
.profile-img {
    width: 200px;
    height: 250px;
    margin: auto;
}
.title {
    font-size: 2rem;
}
.about-pic {
    margin-top: 1.5rem;
    /* background-color: red;
    border: 2px solid red; */
}
.cover p {
    font-size: 0.7rem;
    /* background-color: red; */
}
.cover {
    /* background-color: red; */
    gap: 0.1rem;
    /* padding: 0.5rem; */
    /* gap: 5px; */
    margin: auto;
}
.title {
    padding: 0.5rem;
}
.about-containers button{
    font-size: 0.4rem;
    /* background-color: green; */
    width: 5rem;
}
/* .cover p {
    font-size: 5px;
} */
}
@media screen and (max-width: 400px) {
    #contact-heading-dyna {
        margin: 0 0 0.5rem;
        /* background-color: red; */
    }
    .contact__data {
        margin: 0 0 0 0.5rem;
    }
    
}
.static-text {}
.wrapper {
    display: inline-flex;
    margin-bottom: 15px;
    
}
.wrapper .static-text {
    font-size: 20px;
    /* color: blue; */
    color: black;
    font-weight: 400;
    line-height: 24px;
    
}
.wrapper .dynamic-text {
    margin-left: 10px;
    /* margin-bottom: 2px; */
    /* line-height: 8; */
    line-height: 26px;
    height: 26px;
    /* background: red; */
    overflow: hidden;
}
.dynamic-text li {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    color: #ef476f;
    text-align: start;
    position: relative;
    top: 0;
    animation: slide 6s steps(2) infinite;
}
@keyframes slide {
    100% {
        top: -51px;
    }
}
.dynamic-text li span {
    position: relative;

}
.dynamic-text li span::after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: white;
    left: 0;
    width: 100%;
    border-left: 2px solid #ef476f;
    animation: typing 3s steps(10) infinite;
}
@keyframes typing {
    50% {
        left: 100;
        margin: 0 -209px 0 212px;
        
    }
    100% {
        left: 0%;
        /* margin: 0 -35px 0 35px; */
    }
}
@keyframes profile-slide {
    100% {
        opacity: 1;
        margin-right: 0px;
    }
}


